{% extends 'base.html.twig' %}

{% block title %}Nouveau membre | O'Boulot {% endblock %}

{% block body %}
    <h1>Créer un membre</h1>

<<<<<<< HEAD:templates/backoffice/team/new.html.twig
    {{ include('backoffice/team/_form.html.twig') }}
=======
    {{ include('back/team/_form.html.twig') }}
>>>>>>> e1d10b86f4bb0edfde38cbc031d8141eb098724f:templates/back/team/new.html.twig

    <a href="{{ path('app_back_team_index') }}">Revenir à la liste</a>
{% endblock %}
