{% extends 'base.html.twig' %}

{% block title %}Nouveau boulot{% endblock %}

{% block body %}
    <h1>Créer un nouveau boulot</h1>

    {{ include('back/job/_form.html.twig') }}

    <a href="{{ path('app_back_job_index') }}">Retour sur les offres</a>
{% endblock %}
