{% extends 'base.html.twig' %}

{% block title %}Nouveau boulot | O'Boulot{% endblock %}

{% block body %}
    <h1>Ajouter une offre</h1>

    {{ include('backoffice/job/_form.html.twig') }}

    <a href="{{ path('app_back_job_index') }}">Retour à la liste</a>
{% endblock %}
