{% extends 'base.html.twig' %}

{% block title %}Edit Candidate{% endblock %}

{% block body %}
    <h1>Edit Candidate</h1>

    {{ include('back/candidate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_candidate_index') }}">back to list</a>

    {{ include('back/candidate/_delete_form.html.twig') }}
{% endblock %}
