{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Edit Company</h1>

    {{ include('backoffice/company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_company_index') }}">back to list</a>

    {{ include('backoffice/company/_delete_form.html.twig') }}
{% endblock %}
