{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise | O'Boulot{% endblock %}

{% block body %}
    <h1>Ajouter une entreprise</h1>

    {{ include('backoffice/company/_form.html.twig') }}

    <a href="{{ path('app_back_company_index') }}">Retour à la liste</a>
{% endblock %}
